@font-face{
	font-family: "SegoeBold";
	src: url('../fonts/Segoe\ UI\ Bold.woff');
}
@font-face{
	font-family: "Segoe";
	src: url('../fonts/Segoe\ UI.woff');
}
@font-face{
	font-family: "SegoeSemiBold";
	src: url('../fonts/Segoe\ UI\ Semibold.woff');
}
@font-face{
	font-family: "SegoeItalics";
	src: url('../fonts/Segoe\ UI\ Italic.woff');
}
@font-face{
	font-family: "SegoeItalicsBold";
	src: url('../fonts/Segoe\ UI\ Bold\ Italic.woff');
}
body,p{
	font-family: "SegoeSemiBold";
	margin:0;
}
header{
	margin-bottom: 20px;
}
header nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #24292e;
	color: #fff;
	padding: 15px 30px;
}
header nav a{
	color:#fff;
	margin:0 10px;
	font-size: 14px;
}
header nav input{
	background-color: transparent;
	border: none;
	outline:none;
	color:#fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width:200px;
}
header nav input::placeholder{
	color:#fff;
	opacity: 1;
}
header nav ul{
	list-style: none;
	margin:0;
}
header nav li{
 margin:0 10px;
 font-size:18px;
}
a{
	text-decoration: none;
}
h1,h3,h5{
	margin:0;
}
input{box-sizing:border-box} 
.logo{
	width:30px;
}
.nav-img{
	width:20px;
	height: 20px;
	border-radius: 50%;
	object-fit: cover;
}
.search-con, .slash-box{
	border: 1px solid #444d56;
	border-radius: 6px;
	margin-left:10px;
	padding:4px 8px;
}
.slash-box{
	color:#444d56;
	padding:0;
	width:20px;
	height: 20px;
	justify-content: center;
}
.octicon-mark-github{
	width:200px;
}
.fa-plus{
	color: #fff;
	-webkit-text-stroke:2px #24292e;
}
.fa-caret-down{
	font-size: 12px;
	margin-left: 5px;
}
.notification-dot{
	width:12px;
	height: 12px;
	border-radius: 50%;
	background-image: linear-gradient(#54a3ff,#006eed);
	position:absolute;
	top: -2px;
	left: 7px;
	z-index: 2;
}
.sticky-nav{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 10;
}
.title-nav{
	border-bottom: 1px solid #e1e4e8;
}
.title-nav li{
	display: flex;
	align-items: center;
	font-family: "Segoe";
	color:#24292e;
	padding:15px;
}
.title-nav p{
	font-family: "Segoe";
	font-size: 14px;
	margin-left:5px;
}
.title-nav ul{
	margin:0;
	padding-left: 0;
	display: flex;
}
.title-img{
	width:40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 10px;
}
.title-name{
	opacity:0;
}
.active-title{
	border-bottom: 3px solid #f9826c;
}
.repos-total{
	background-color: #d1d5da80;
	padding:1px 10px;
	border-radius: 12px;
	font-size: 12px;
	margin-left:5px;
}
.profile-card{
	position: absolute;
	top:-55px;
	left: 10px;
}
.profile-img{
	position: relative;
	z-index: 11;
}
.profile-img img{
	width:270px;
	height:270px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	z-index: 11;
}
.emoji-con{
	display: flex;
	align-items: center;
	justify-content: center;
	width:40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #e1e4e8;
	position: absolute;
	background-color: #fff;
	left:75%;
	top:75%;
	z-index: 12;
	box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
}
.emoji-con:hover{
	width:100px;
	border-radius: 20px;
}
.emoji-con p{
	font-size: 12px;
	color: #586069;
	font-family: "Segoe";
	margin-left: 5px;
	display: none;
}
.emoji-con:hover p{
	display: block;
}
.username{
	font-family: "Segoe";
	font-size: 20px;
	font-weight: 100;
	color:#586069;
}
.bio-text{
	font-family: "Segoe";
	font-size: 16px;
	font-weight: 100;
	margin-top:20px;
}
.container input{
	width:100%;
	border-radius: 6px;
	border:1px solid #e1e4e8;
	padding:7px 10px;
	font-family: "Segoe";
}
.search-repo-con, .repos-list-con{
	width:100%;
}
.search-repo-con{
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e4e8;
}
.repos-list{
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
	border-bottom: 1px solid #e1e4e8;
}
.repos-list h3{
	color:#0366d6;
	font-size: 20px;
	margin:10px 0;
	font-family: "SegoeSemiBold";
}
.repos-list p{
	font-size: 14px;
	font-family: "Segoe";
	font-weight: 100;
	color:#586069;
}
.repos-list .iconify{
	margin-right: 3px;
}
.repos-list button{
	background-color: #fafbfc;
	border: 1px solid #1b1f2326;
	padding:3px 12px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 20px;
}
.language-code{
	width:12px;
	height: 12px;
	border-radius: 50%;
	background-color: #2c3e50;
	margin-right:5px;
}
.mobile-card{
	display: none;
}
.mobile-nav{
	display: none;
}
.pull-request{
	display:block
}
.pull-request-tab{
	display: none;
}



/* Helpers */
.d-flex{
	display:flex;
	align-items: center;
}
.position-relative{
	position: relative;
}
.container {
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
	padding:0 100px;
}
.col-md-3 {
	grid-column: span 3;
}
.col-md-9 {
	grid-column: span 9;
}
.mt{
	margin-top:20px;
}
.ml{
	margin-left:20px;
}
.d-md-none{
	display:none;
}


@media screen and (max-width:767px){
	.col-md-3 {
		grid-column: span 12;
	}
	.col-md-9 {
		grid-column: span 12;
	}
	.col-12{
		grid-column: span 12;
	}
	.row {
		padding:0 20px;
	}
	.profile-img img{
		width:50px;
		height:50px;
		border-radius: 50%;
		object-fit: cover;
		position: relative;
		z-index: 11;
	}
	.profile-card{
		position: static;
		display:flex;
		align-items: center;
	}
	.profile-names{
		margin-left:30px;
	}
	.d-none{
		display: none;
	}
	.set-status{
		display: flex;
		align-items: center;
		border-radius: 6px;
		border:1px solid #e1e4e8;
		padding:7px 10px;
	}
	.set-status p{
		font-size: 12px;
		font-family: "Segoe";
	}
	.d-md-none{
		display:block;
	}

	.title-nav ul{
			overflow-x: scroll;
	}
	.title-img{
		display: none;
	}
	.title-name{
		display: none;
	}
	.container input{
		width:100%;
		margin-right:0px;
	}
	.sticky-nav{
		top:-197px;
	}
	.fa-bars{
		font-size: 25px;
		color: #fff;
		-webkit-text-stroke:2px #24292e;
	}
	header{
		margin-bottom: 0px;
	}
	header nav{
		padding-left:15px;
		padding-right:15px;
	}
	header ul{
		padding-left:0;
	}
	.mobile-nav{
		display:none;
		background-color: #24292e;
		padding-top: 5px;
	}
	.mobile-nav input{
		width:100%;
	}
	.mobile-nav .search-con{
		margin-left:0;
		margin-bottom: 20px;
	}
	.nav-list{
		color:#fff;
		font-size: 14px;
		border-top: 1px solid #444d56;
		padding:10px 0;
	}
	.nav-list p{
		margin-left:5px;
	}
	.repos-list h3{
		font-size: 20px;
		font-weight: 100;
	}
	.repos-list p{
		font-size: 12px;
	}
}

@media screen and (min-width:768px) and (max-width:999px){
	header nav{
		width:100%;
		padding:15px;
	}
	.pull-request{
		display:none
	}
	.pull-request-tab{
		display: block;
	}
	.container{
		width: 100%;
	}
	.profile-img img{
		width:150px;
		height:150px;
	}
	.emoji-con{
		width:35px;
		height: 35px;
		left:70%;
		top:65%;
	}
	.row{
		padding:0 15px;
	}
}

@media screen and (min-width:999px) and (max-width:1439px){
	.profile-img img{
		width:210px;
		height:210px;
	}
	.emoji-con{
		width:35px;
		height: 35px;
		left:75%;
		top:70%;
	}
	.row{
		padding:0 15px;
	}
}

@media screen and (min-width:2000px){
	.container{
		max-width: 1440px;
	}
}
